# Build directories
build/
cmake-build-*/

# IDE files
.idea/
.vscode/
*.code-workspace
.vs/
*.xcworkspace/
*.xcodeproj/
*.xccheckout
*.pbxuser
*.mode1v3
*.mode2v3
xcuserdata/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*

# Binary files
*.dll
*.so
*.dylib
*.vst3
*.component
*.app

# Compiled Object files
*.o
*.obj
*.lo
*.slo

# Precompiled Headers
*.gch
*.pch

# CMake temporary files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Makefile
*.cmake
!CMakeLists.txt

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Log files
*.log